<template name="footer">
    <footer class="page-footer blue darken-1">
        <div class="container">
            <div class="row">
                <div class="col l6 s12">
                    <h5 class="white-text">About Frontpage</h5>
                    <p class="white-text">Frontpage aggregates articles from across the top media outlets on the web into one handy, searchable database. The entire database refreshes every 15 minutes to ensure you are getting the latest news and content.</p>
                </div>
            </div>
        </div>
        <div class="footer-copyright">
            <div class="container">
                Made by <a class="orange-text text-lighten-3" href="http://materializecss.com">Materialize</a>
            </div>
        </div>
    </footer>
</template>