<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://code.getmdl.io/1.1.3/material.indigo-pink.min.css">
    <script src="https://code.getmdl.io/1.1.3/material.min.js"></script>
</head>
<body>

<!-- FlexboxBody & FlexboxMain are used to bolt the footer to the floor of the browser at all times! -->
<div class="FlexboxBody">

    {{> navbar}}

    <div class="FlexboxMain">
    {{> search}}
    </div>

    {{> footer}}

</div>
</body>