<template name="search">
    <div class="section no-pad-bot" id="index-banner">
        <div class="container">
            <br><br><br><br>
            <h5 class="header center blue-grey-text darken-2">Find something to read... </h5>
            {{> EasySearch.Input index=articlesIndex }}

            {{#EasySearch.IfInputEmpty index=articlesIndex}}

            <p></p>

            {{else}}

            <div class="row FlexboxRows">
                {{#EasySearch.Each index=articlesIndex }}

                    <div class="col s12 m6">
                        <div class="card blue-grey darken-2">
                            <div class="card-content white-text">
                                <span class="card-title"><a href="{{link}}" target="_blank">{{title}}</a></span>
                                <div>
                                    <p>{{description}}</p>
                                </div>
                            </div>
                            <div class="card-action">
                                <img src="assets/img/logos/{{source}}.png" class="{{source}}"/>
                                <p>{{source}} - {{category}}</p>
                            </div>
                        </div>
                    </div>
                {{/EasySearch.Each}}
            </div>
            {{/EasySearch.IfInputEmpty}}
        </div>
    </div>
</template>