/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

.icon-block {
  padding: 0 15px;
}

.icon-block .material-icons {
	font-size: inherit;
}

.card .card-title {
    font-size: 18px !important;
}

.card .card-action {
    padding-top: 15px;
    padding-bottom: 35px;
}

.navbar {
    position: relative;
}
@media only screen and (min-width: 601px) {
    .brand-logo {
        position: absolute;
        left: 40% !important;
        margin-left: -50px; /* 50% of your logo width */
        display: block;
    }
    .brand-logo img {
        width: 75% !important;
    }
    nav, nav .nav-wrapper i, nav a.button-collapse, nav a.button-collapse i {
        height: 69px;
        line-height: 60px !important;
    }
}

@media only screen and (max-width: 992px) {
    .brand-logo {
        position: absolute;
        left: 40% !important;
        margin-left: -50px; /* 50% of your logo width */
        display: block;
    }
    .brand-logo img {
        width: 75% !important;
        margin-left: 40% !important;
    }
    nav, nav .nav-wrapper i, nav a.button-collapse, nav a.button-collapse i {
        height: 69px;
        line-height: 60px !important;
    }
}

.FlexboxBody {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

.FlexboxMain {
    flex: 1 0 auto;
}

.FlexboxRows {
    display: flex;
    flex-wrap: wrap;
}

/* Resizing source images */
.GQ { width: 20%; float: right; }
.Wired { width: 50%; float: right; }
.Esquire { width: 35%; float: right; }
.RollingStone { width: 32%; float: right; }
.G2 { width: 12%; float: right; }
.TheVerge { width: 40%; float: right; }
.TheGuardian { width: 45%; float: right; }
.NewYorker { width: 55%; float: right; }
.Flavorwire { width: 35%; float: right; }
.TheAtlantic { width: 35%; float: right; }

/* Style for animation and transitions */
/*
.wrap {
    position: absolute;
    overflow: hidden;
    top: 10%;
    right: 10%;
    bottom: 10%;
    left: 10%;
    padding: 20px 50px;
    display: block;
    border-radius: 4px;
    transform: translateY(20px);
    transition: all 0.5s;
    visibility: hidden;
}
.wrap .content {
    opacity: 0;
}
.wrap:before {
    position: absolute;
    width: 1px;
    height: 1px;
    background: white;
    content: "";
    bottom: 10px;
    left: 50%;
    top: 95%;
    color: #fff;
    border-radius: 50%;
    -webkit-transition: all 600ms cubic-bezier(0.215, 0.61, 0.355, 1);
    transition: all 600ms cubic-bezier(0.215, 0.61, 0.355, 1);
}
.wrap.active {
    display: block;
    visibility: visible;
    box-shadow: 2px 3px 16px silver;
    transition: all 600ms;
    transform: translateY(0px);
    transition: all 0.5s;
}
.wrap.active:before {
    height: 2000px;
    width: 2000px;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    margin-left: -1000px;
    margin-top: -1000px;
    display: block;
    -webkit-transition: all 600ms cubic-bezier(0.215, 0.61, 0.355, 1);
    transition: all 600ms cubic-bezier(0.215, 0.61, 0.355, 1);
}
.wrap.active .content {
    position: relative;
    z-index: 1;
    opacity: 1;
    transition: all 600ms cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

a.animate_me {
    transition: transform 0.25s;
}
a.animate_me:hover {
    text-decoration: none;
    background: #2198ff;
}
a.animate_me.active {
    transform: rotate(135deg);
    transition: transform 0.5s;
}
*/